@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Neucha&family=Open+Sans&display=swap');
/* font-family: 'Alex Brush', cursive;
font-family: 'Neucha', cursive;
font-family: 'Open Sans', sans-serif; */

:root {
  --main-bg: rgb(241, 241, 241);
  --silver-bg: rgb(233, 232, 230);
  --border: rgba(99, 99, 99, 1);
  --icons: rgba(39, 50, 53, 1);
  --shadow: rgba(99, 99, 99, 0.205);
}

body {
  margin: 0;
  font-family: 'Neucha';
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--silver-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body > #root > div{
height: 100vh;
}