.home-screen {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7vh;
  margin-bottom: 5px;
}
