.register-page {
  @include flex-column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  &__header {
    @include header;
  }
  &__login-link {
    font-size: 2rem;
    font-weight: 300;
    text-decoration: underline;
  }
  p {
    margin-top: 1vh;
  }
}
