.button-lrg {
  @include flex-column;
  justify-content: center;
  height: 10vh;
  width: 60vw;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  color: $base-font;
  border: 1px solid rgba(255, 255, 255, 0.699);
}
