.image-form {
  @include flex-column;
  margin: auto;
  width: 80vw;
  &__header {
    @include header;
    font-size: 3.5rem;
  }
  &__input {
    margin: 15px 0;
    width: 50vw;
    border-radius: 0;
  }
  &__image-preview {
    @include image-large;
    margin-right: -10px;
  }
}
