.item {
  @include flex-row;
  height: 10vh;
  width: 70vw;
  margin-bottom: 2vh;
  background-color: rgba(255, 255, 255, 0.301);
  border: 1px solid rgba(255, 255, 255, 0.5);
  &__image {
    height: 5vh;
    height: 5vw;
  }
  &__header--location {
    color: red;
  }
}
.lost {
  // border: 1px solid $tomato;
}
.found {
  // border: 1px solid $shadow;
}
