.item-details-display {
  @include flex-column;
  justify-content: space-around;
  margin: auto;
  height: 80vh;
  width: 80vw;
  &__header {
    @include header;
    font-size: 4rem;
  }
  &__subheader {
    font-size: 2rem;
  }
  &__description {
    width: 80vw;
    background-color: $glass;
    font-size: 1.5rem;
    // padding: 2em 2em;
    border: 1px solid rgba(255, 255, 255, 0.808);
  }
  &__image {
    @include image-large;
  }
}
