.item-submit-form {
  @include flex-column;
  margin: auto;
  &__header {
    @include header;
    font-size: 3.5rem;
  }
  &__input {
    @include input;
  }
  &__input:focus {
    @include focus;
  }
}
