.item {
  @include flex-column;
  height: 15vh;
  width: 30vw;
  &__image {
    height: 5vh;
    height: 5vw;
  }
  &__header--location {
color: red;
  }
}
.lost {
  border: 1px solid $tomato;
}
.found {
  border: 1px solid $shadow;
}
