.item {
  @include flex-row;
  flex-wrap: nowrap;
  align-items: center;
  flex-shrink: 0;
  height: 10vh;
  width: 80vw;
  margin-bottom: 2vh;
  padding: 1vh;
  background-color: $glass;
  border: 1px solid rgba(255, 255, 255, 0.61);
  border-radius: 10px;

  &__image {
    display: block;
    max-height: 12vh;
    max-width: 13vw;
    height: auto;
    width: auto;
  }
  &__text {
    margin: auto;
    // margin-top: 0;
    margin-left: 3vw;
    text-align: left;
  }
  &__description {
    font-size: 1rem;
  }
  &__header {
    &--location {
      font-style: italic;
    }
  }
}
