.item {
  @include flex-row;
  flex-wrap: nowrap;
  height: 12vh;
  width: 80vw;
  margin-bottom: 2vh;
  padding: 2vh;
  background-color: rgba(255, 255, 255, 0.397);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;

  &__image {
    display: block;
    max-height: 12vh;
    max-width: 12vw;
    height: auto;
    width: auto;
  }
  &__header {
    &--location {
    }
  }
}
.lost {
  // border: 1px solid $tomato;
}
.found {
  // border: 1px solid $shadow;
}
