.option-component {
  @include flex-column;
  justify-content: space-between;
  margin: auto;
  height: 40vh;
  width: 80vw;
  text-align: center;
  &__header {
    @include header;
    font-size: 3.5rem;
  }
}
