.profile-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7vh;
  font-size: 40px;
  margin-bottom: 5px;
}
