.item-details-display {
  width: 80vw;
  height: 60vh;
  padding: 4vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: tomato;
}
