.item {
  margin-bottom: 2vh;
  padding-top: 5px;
  width: 75vw;
  height: 10vh;
  border: 1px solid black;
  display: flex;
  justify-content: left;
}
.lost {
  background-color: tomato;
}
.found {
  background-color: teal;
}
.item-image {
width: 20vw;
justify-self: center;
align-self: center;
}
.item-text {
display: flex;
flex-direction: column;
align-items: right;
font-size: 10px;
overflow:hidden;
}

* {
  margin: 0;
  padding: 0;
}