.item {
  margin-bottom: 2vh;
padding: 10px;
  width: 75vw;
  height: 30vh;
  display: flex;
  justify-content: left;
}
.lost {
  background-color: tomato;
}
.found {
  background-color: rgb(3, 163, 163);
}
.item-image {
width: 80px;
justify-self: center;
align-self: center;
}
.item-text {
  width: 250px;
display: flex;
flex-direction: column;
align-items: right;
font-size: 10px;
overflow:hidden;
padding: 5px;
}

* {
  margin: 0;
  padding: 0;
}