.item {
  margin-bottom: 2vh;
  padding: 10px;
  width: 75vw;
  height: 100px;
  display: flex;
  justify-content: left;
  background-color: var(--main-bg);
  box-shadow: 0 0 5px 2px rgba(99, 99, 99, 0.103);
  border-radius: 5px;
}
/* .lost {
  box-shadow: 0px 0px 5px 5px rgba(204, 162, 154, 0.151);
}
.found {
  box-shadow: 0px 0px 5px 5px rgba(92, 128, 128, 0.103);
} */
.item-image {
width: 80px;
justify-self: center;
align-self: center;
}
.item-text {
  width: 250px;
display: flex;
flex-direction: column;
align-items: right;
font-size: 10px;
overflow:hidden;
padding: 5px;
}

* {
  margin: 0;
  padding: 0;
}