@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@mixin input {
  margin-bottom: 10px;
  padding: 20px;
  width: 80vw;
  height: 5vh;
  border: 1px solid transparent;
}
@mixin focus {
  border-color: $tomato;
}
@mixin header {
  @include flex-row;
  justify-content: center;
  text-align: center;
  margin-bottom: 2vh;
}
@mixin list {
  @include flex-column;
  flex-shrink: 0;
  justify-content: flex-start;
  height: 70vh;
  width: 80vw;
  overflow-y: scroll;
}
