$main-bg: rgb(241, 241, 241);
$silver-bg: rgb(233, 232, 230);
$border: rgba(99, 99, 99, 1);
$icons: rgb(57, 72, 77);
$shadow: rgba(29, 29, 29, 0.253);
$tomato: rgb(247, 146, 52);
$base-font: rgb(60, 60, 60);
