  $main-bg: rgb(241, 241, 241);
  $silver-bg: rgb(233, 232, 230);
  $border: rgba(99, 99, 99, 1);
  $icons: rgb(57, 72, 77);
  $shadow: rgba(99, 99, 99, 0.253);
  $tomato: rgb(255, 160, 71);
  $tomato-detail: rgba(255, 160, 71, 0.774);
  $tomato-faded: rgba(248, 139, 37, 0.527);
  $tomato-option: rgba(248, 139, 37, 0.596);