.button-lrg {
  height: 10vh;
  width: 60vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--border);
  border-radius: 15px;
  background-color: var(--main-bg);
  font-size: 20px;
}
