.navBar-container {
  display: flex;
  flex-direction: row;
  height: 74.34px;
  border-top: 1px solid var(--border);
  background-color: var(--main-bg);
}
.button {
  width: 33.33vw;
  margin:auto;
  text-align: center;
  filter: opacity(0.3);
  color: var(--icons);
}