body {
  margin: 0;
  padding: 0;
  background-color: $silver-bg;
  background: linear-gradient(to bottom, $tomato, $main-bg);
  font-family: "Roboto", sans-serif;
  color: $base-font;
}
*,
*::after,
*::before {
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
}
a {
  text-decoration: none;
  color: $base-font;
  // height: 45px;
}
