@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

h1 {
  margin: 0;
  font-size: 7.5vh;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.308);
}
h2 {
  font-size: 15px;
}
h3 {
  font-size: 10px;
}
p {
  font-size: 10px;
  margin: 5px;
}
