@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto:wght@100;300;400&display=swap');

h1 {
  margin: 0;
  font-size: 5rem;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.308);
}
h2 {
  margin:0;
  font-size: 1.4rem;
}
p {
  font-size: 1rem;
  margin: 5px;
}
