@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

h1 {
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.048);
}
h2 {
  font-size: 15px;
}
h3 {
  font-size: 10px;
}
p {
  font-size: 10px;
  margin: 5px;
}
