@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Neucha&family=Open+Sans&display=swap");
/* font-family: 'Alex Brush', cursive;
font-family: 'Neucha', cursive;
font-family: 'Open Sans', sans-serif; */

:root {
  --main-bg: rgb(241, 241, 241);
  --silver-bg: rgb(233, 232, 230);
  --border: rgba(99, 99, 99, 1);
  --icons: rgb(57, 72, 77);
  --shadow: rgba(99, 99, 99, 0.253);
  --tomato: rgb(255, 160, 71);
  --tomato-detail: rgba(255, 160, 71, 0.774);
  --tomato-faded: rgba(248, 139, 37, 0.527);
  --tomato-option: rgba(248, 139, 37, 0.596);
}

body {
  margin: 0;
  font-family: "Neucha";
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--silver-bg);
  border-color: var(--border);
}

input {
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  background-color: var(--main-bg);
  font-size: 20px;
  box-shadow: 0 0 5px 2px var(--shadow);
  background-color: var(--tomato-faded);
}
::placeholder {
  color: var(--icons);
}

input:focus {
  background-color: var(--tomato-faded);
  border: none;
}

a {
  text-decoration: none;
  color: var(--tomato);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body > #root > div {
  height: 100vh;
}
